.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group グループ
      %ul.main-header__left-box__member-list 
        Member : 
        %li.main-header__left-box__member-list__member 太郎
        %li.main-header__left-box__member-list__member 花子
    .main-header__edit-btn Edit

  .messages
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text',id:'message_content',placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'